<!DOCTYPE html>
<html lang=en>
    <head>
        <title> OPSLyft Assignment </title>
    </head>
    <body>
        <form action="/action_page.php">
            <label for="instanceID">Instance ID </label>
            <input type="text" id="fname" name="instanceID"><br><br>
            <div>
                <input type="radio" id="enable_scheduler" name="drone" value="enable_scheduler" checked>
                <label for="enable_scheduler">Enable Scheduler</label>
                <input type="radio" id="disable_scheduler" name="drone" value="disable_scheduler">
                <label for="disable_scheduler">Disable Scheduler</label>
            </div>
            <br>
            Enter the schedule in the below box as integers separated by comma ( 0 : monday, 1: tuesday, 2: wednesday, 3:thursday, 4: friday, 5: saturday, 6:sunday) <br>
            For eg: If you want to set schedule for all weekdays, enter 0,1,2,3,4,5,6 <br>
            if you want to enable schedule for monday, wednesday and friday only, enter 0,2,4 <br> <br>
            <label for="schedule">Schedule </label>
            <input type="text" id="fname" name="fname"><br><br>
            <input type="submit" value="Submit">
          </form>
    </body>

</html>
